{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Welcome to EasyAdmin 4' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Data</h1>
            <div>
                <h2>Bonjour Admin</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}